<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/styles/form.css}" rel="stylesheet" />
    <link th:href="@{/styles/lists.css}" rel="stylesheet" />
    <link th:href="@{/styles/table.css}" rel="stylesheet" />
    <link th:href="@{/styles/background.css}" rel="stylesheet" />
    <link rel="icon" type="image/png" th:href="@{/styles/images/logo.png}">
    <title>Jornalistas</title>
</head>
<body>
<table border="1">
    <div id="nav-bar-box">
        <div id="nav-bar">
            <ul class="nav-bar-list">
                <li class="nav-bar-list-item nav-bar-logo" style="background-color: white">
                    <a href="/"><img th:src="@{styles/images/logo.png}" alt="5pn Logo" id="logo-image"> </a>
                </li>

                <li class="nav-bar-list-item"><a href="/"> Página Inicial </a></li>
                <!--<li class="nav-bar-list-item"><a href="reportagens"> Reportagens </a></li> -->
                <li class="nav-bar-list-item"><a href="paineldecontrole"> Cadastrar Jornalista </a></li>
                <li class="nav-bar-list-item"><a href="assuntos"> Editar/ Remover Assuntos </a></li>

            </ul>
        </div>
    </div>
    <thead>
    <tr>
        <th>Nome</th>
        <th>E-mail</th>
        <th>Ações</th>

    </tr>
    </thead>
    <tbody>
    <tr th:each="jornalista : ${jornalistas}">
        <td th:text="${jornalista.nome}"></td>
        <td th:text="${jornalista.email}"></td>
        <td>
            <a th:href="@{'/jornalista?idJornalista=' + ${jornalista.id}}">Editar</a> |
            <a th:href="@{'/removerJornalista?idJornalista=' + ${jornalista.id}}">Excluir</a>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>